body {
    background-color: #333;
    color: white;
    height: 100vh;
}

.titulo {
    text-align: center;
    font-size: 32px;
}

#pessoas {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 980px;
    margin: auto;
}

.novaPessoa {
    border-radius: 16px;
    min-width: 320px;
    text-align: center;
    position: relative;
    transition: 0.2s;
}

.botao1 {
    position: absolute;
    right: 24px;
    top: 48px;
    width: 120px;

}

.botao2 {
    position: absolute;
    right: 24px;
    top: 92px;
    width: 120px;

}

.id {
    background-color: #FFFFFF25;
    border-radius: 50%;
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    left: 8px;
}

.selected {
    background-color: coral;
    border-color: coral;
}

.selectedPaginacao {
    color: white;
    background-color: coral;
    border-color: coral;
}

.selected:hover {
    background-color: rgba(255, 127, 80, 0.836);
    border-color: rgba(255, 127, 80, 0.836);
}

.modal-footer,
.modal-header {
    border-width: 0px;
    color: black;
}

.btn-close {
    border: 2px solid white;
}